.jjsjsj{
    font-size: 19px;
    text-align: center;
    font-weight: 800;
}
/*.hr__borders{
    background: #deac03;
    height: 2px;
}*/
.fist__bg{
   border-bottom: solid #deac03;
       background: #fcfafa;
}
.secc__bg{
   border-bottom: solid #f68351;
    background: #e6e6e6;
}

.thirds__bg{
       border-bottom: solid #3f97e7;
    background: #e6fff8;
}

.iio__fsgc{
    object-fit: cover;
    height: 211px !important;
    width: 100% !important;
}
.bbiosik__img{
    border-radius: 11px;
    border: 4px solid #fff;
}
 

 .rrrs__fccss{
    border-radius: 59px;
    padding: 46px;
 }
 .ca__sh{
        border-radius: 19px;
 }
 .bgfprm{
      background: #ededed;
 }
 .kkid__css{
    font-size: 21px;
    text-align: center;
 }
 .csr-bgs{
    border: 1px solid #fff;
    border-radius: 37px;
 }

.rrus_css{
        border-top-left-radius: 63px;
    border-top-right-radius: 63px;
}
.rrus_css__btum{
    padding: 0px 0px 1px 4px;
    border-radius: 2px;
    height: 111px !important;
}
.bel__css{
 width: 206px;
}
.bel__css2{
   width: 243px;
}
.boi__css{
    max-width: 145px;
}
.u_j__css{
    margin-top: 8px;
}

.mmtsio{
    margin-top: 20px;
}
.tesms__fonts{
        font-size: 17px;
    font-weight: 400;
    color: #000;
}
.ttosii88css{
        padding-top: 41px;
    padding-bottom: 31px;
}














.sidh_vedantha__size{
    font-size: 21px;
    color: #000;
}
.dooi__css{
font-size: 20px;
    width: 303px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.left__tscss{
   margin-left: 46px;
}
.uutet{
        font-size: 26px;
    line-height: 22px;
    font-weight: 700;
    color: #000;
}
.iiye__cs{
    font-size: 21px;
    font-weight: bold;
    color: #000;
}
.hote__css{
    padding-top: 10px;
    padding-bottom: 22px;
    background: azure;
}
.bg-dasdsdrk{
        background: #000;
}
.sid__css{
        font-size: 18px;
    font-weight: bold;
    color: #000;
}
.uuii__css{
    padding: 30px;
}
.kksi{
        color: #fff;
    font-size: 18px;
    margin-top: 41px;
}
.sqq{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 21px;
}
.iiueo__css{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.ppkfi__si{
        font-size: 46px;
    color: #fff;
    padding-bottom: 20px;
}

.fontyyt__css{ 
    font-size: 16px; 
}
.padding-top-bottom-bikash{
    padding-top: 24px;
    padding-bottom: 24px;
    background: #086d32;
}
.card-bodycss{
       padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
}
.font-srs{
	    font-size: 23px;
    color: #000;
    margin-top: 10px !important;
}
.card--shadow
{
	border-radius: 4px;
}
.pstyle{
	text-align: initial;
    font-size: 20px;
    color: #000;
}
.pad-btn-bo{
	padding-top: 36px;
    padding-bottom: 20px;
    background: #521111;
}
.padding-room{
	    padding-bottom: 18px;
    color: yellow;
    font-weight: 500;
    text-transform: uppercase;
}
.dsme__sisi{
	    padding-bottom: 13px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
}
.jjdid{

    border-radius: 18px;
    box-shadow: 0px 0px 1px 2px #59ff00;
   
}